name: Github Actions - Push - Types Tempalte
run-name: Running - ${{ github.event_name }}
on:
  pull_request:
    types:
      - opened
      - reopened
      - closed
    branches:
      - main
    paths:
      - '**.md'

jobs:
  on-push:
    runs-on: ubuntulatest
    steps:
      - name: Comentário
        run: |
          echo "Comentário PULL-REQUEST WORKFLOW - Type"
          echo "Executado!"
